asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
cffi==1.15.0
cryptography==37.0.2
dj-database-url==0.5.0
Django==4.0.4
django-bootstrap4==22.1
django-cors-headers==3.11.0
django-extensions==3.1.5
django-filter==21.1
django-heroku==0.3.1
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
gunicorn==20.1.0
importlib-metadata==4.11.3
Markdown==3.3.7
numpy==1.22.3
psycopg2==2.9.3
pycparser==2.21
PyJWT==1.7.1
python-decouple==3.6
pytz==2022.1
six==1.16.0
soupsieve==2.3.2
sqlparse==0.4.2
whitenoise==6.1.0
zipp==3.8.0
